name: Convert TXT to SRS (Fixed)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-and-compile:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install Sing-Box v1.11.4
      run: |
        wget https://github.com/SagerNet/sing-box/releases/download/v1.11.4/sing-box_1.11.4_linux_amd64.deb
        sudo dpkg -i sing-box_1.11.4_linux_amd64.deb

    - name: Download AdGuard Filter
      run: |
        curl -fSL -o adblockdns.txt https://raw.githubusercontent.com/217heidai/adblockfilters/main/rules/adblockdns.txt
        
        ls -lh adblockdns.txt
        if [ $(wc -c <"adblockdns.txt") -lt 1024 ]; then
          exit 1
        fi

    - name: Convert to SRS
      run: |
        sing-box rule-set convert --type adguard --output megamori.srs adblockdns.txt
        
        ls -lh megamori.srs
        if [ $(wc -c <"megamori.srs") -lt 1024 ]; then
          exit 1
        fi

    - name: Commit and Push
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add megamori.srs
        
        if git diff --cached --quiet; then
          echo "No changes"
        else
          git commit -m "Auto-update: Megamori SRS"
          git pull --rebase origin main
          git push
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Clean up
      run: |
        rm -f adblockdns.txt sing-box_1.11.4_linux_amd64.deb
